*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.nav {
    background-color:#d7dbf0;
    display: flex;
    justify-content: center;
    gap: 130px;
    flex-direction: row;
    font-size: 25px;
    font-weight: 1000;
    padding: 18px 10px;
	overflow: hidden;
    position: relative;
    font-style: bold;

}

.nav li a {
    display: block;
    color: rgb(2, 2, 2);
    padding: 12px;
	text-decoration: none;
    padding-top: 17px;
}

.nav li a:hover {
    color:  #df9abd;
    border-radius: 30px;
}

.home {
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-direction: row;
    font-size: 18px;
    font-weight: 800;
    list-style-type: none;
    margin-top: 80px;
    padding: 10px 10px;
	padding-bottom: 80px;
	background-color: white;
} 

.home h1{
    padding-top: 100px;
    padding-bottom: 75px;
}
.home img {
    width: 19em;
    height: 19em;
    border-radius: 50%;
}

.about-container {
	padding: 40px 100px;
	margin: 1%  auto 20px auto;
	background-image: url("images/as.jpeg")
	
}
.about-container p {
    text-align: justify;
    padding: 10px 30px;
    font-size: 20px;
    color: #F5F5F5;
	line-height: 25px;
	padding-top: 10px;
}

.about a {
    color: #ffffff;
}

.skill-container {
	padding: 40px 100px;
	margin: 1%  auto 20px auto;
	background-image: url("images/as.jpeg")
}

.skill-container p{
	text-align: justify;
    padding: 10px 30px;
    font-size: 20px;
    color: #F5F5F5;
    line-height: 25px;
}
.skillset{
	gap: 20px;
}
.services {
    margin-top: 10px;
    border: 10px;
    padding: 10px 30px;
	margin: 1%  auto 20px auto;
	margin-top: 20px;
	padding-top: 50px;
	background-image: url("images/light1.jpg");
}
.contact{
	margin-top: 10px;
    border: 20px;
    padding: 10px 30px;
	margin: 1%  auto 20px auto;
	margin-top: -20px;
	background-image: url("images/light2.jpeg");
}

.contact h2 {
	color: black;
    text-align: center;
	font-size: 30px;
	font-style: bold;

}

.services ul{
    display: grid;
    text-align: center;
    grid-gap: 70px;
    grid-auto-flow: column;
	font-size: 20px;
    margin: 1%  auto 20px auto;
    margin-right: 91px;
    margin-left: 91px;

}
.contact ul {
    display: grid;
    margin: 40px;
    text-align: center;
    grid-gap: 60px;
    grid-auto-flow: column;
	font-size: 20px;
	padding-right: 10px;

}
.services h2{
    color: black;
    text-align: center;
	font-size: 30px;
	margin-top: -30px;
	font-style: bold;
}

.services li {
    border: 1px solid #ccc;
    border-radius: 2em;
	padding: 20px;
	background-image: url("images/bg.jpeg");
	
}

.services li a {
	padding-top: 20px;
	color: white;
	font-size: 30px;
	font-weight: bolder;


}

.services p {
    margin: 10px;
    padding: 20px 30px;
	line-height: 25px;
	color: white;
}


.contact {
    margin-top: 10px;
    padding: 20px 100px;
    background-color:white;
}

@media all and (max-width: 1250px) {
    .navigation, .intro, .about, .services, .contact {
        padding-left: 80px;
        padding-right: 80px;
    }

    .skill, .services ul, .contact ul {
        display: grid;
        margin: 5px;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        grid-auto-flow: dense;
        font-size: 20px;
    }
}

@media all and (max-width: 750px) {

    .nav, .home {
       display: flex;
       justify-content: center;
       text-align: center;
       flex-direction: column;
       gap: 10px;
       margin: 0px;
       border: 0px;
       padding: 5px;
	}

    .home img {
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 13em;
        height: 11em;
		border-radius: 50%;
	}

    .home h1 {
        padding-top: 10px;
    }

    .about-container, .about-container p {
        padding: 10px 20px;
    }

    .services {
        padding: 10px 10px;
	}
	.skill-container, .skill-container p {
        padding: 10px 20px;
	}
	.services h2{
		margin-top: 10px;
	}

    .skill, .services ul, .contact ul {
        padding: 10px;
        display: grid;
        margin: 5px;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        grid-auto-flow: dense;
        font-size: 20px;
    }

    .services p {
        margin: 5px;
        padding: 10px 10px;
        line-height: 25px;
    }
}
